.btn {
  height: 45px;
  padding: 11px 25px;
  text-align: center;
  &_main {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid $main-color;
    box-shadow: 0 0 45px 45px $main-color inset, 0 0 0 0 $main-color;
    transition: all 0.35s ease;
    &:hover,
    &:focus {
      color: #fff;
      outline: 0;
    }
    &:hover {
      box-shadow: 0 0 10px 0 $main-color inset, 0 0 10px 4px $main-color;
    }
  }
  &_invisible {
    transition: all 0.4s ease-in-out;
    letter-spacing: 0;
    &:hover,
    &:active {
      letter-spacing: 4px;
    }
    &:before,
    &:after {
      backface-visibility: hidden;
      border: 1px solid rgba($main-color, 0);
      bottom: 0px;
      content: " ";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
    }
    &:hover:before,
    &:hover:after {
      backface-visibility: hidden;
      border-color: $main-color;
      transition: width 350ms ease-in-out;
      width: 100%;
    }
    &:hover:before {
      bottom: auto;
      top: 0;
      width: 100%;
    }
  }
  &_form {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    box-shadow: rgba(169, 184, 67, 0.9) 0 0px 0px 40px inset;
    transition: all 0.8s ease;
    border: 2px solid $main-color;
    &:hover {
      color: rgba(64, 67, 74, 0.9);
      box-shadow: 0 0 10px 2px $main-color inset, 0 0 10px 4px $main-color;
    }
    &:active,
    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 992px) {
  .btn {
    &_form {
      padding: 0;
    }
  }
}

@media (max-width: 576px) {
  .btn {
    &_invisible {
      width: 150px;
      margin-top: 15px;
    }
  }
}
